version: '3.8'
services:
  postgres:
    container_name: postgres_container
    image: postgres:12.9-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: liquibase
      PGDATA: /data/postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres:/data/postgres
  keycloak:
    container_name: keycloak_container
    image: quay.io/keycloak/keycloak:20.0.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - '8180:8080'

volumes:
  postgres:
